@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    background-color: #fac710;
}
html{
    font-family: Lato, sans-serif;
}

p {
    font-family: Lato, sans-serif;

}

.nav__wrapper {
    margin: 40px 20px 0px 20px;
    height: 90vh;
    width: auto;
    background-color: #ebebeb;
    border-radius: 15px;
}

.nav__bar {
    display: flex;
    height: 70px;
    width: auto;
    align-items: center;
    justify-content: space-between;

}

.logo {
    margin-left: 10px;
}

.logo__txt {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.logo__txt:hover {
    border-bottom: 2px solid #000;
}

.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links {
    list-style: none;
    margin: 20px;
}

.nav__links :hover {
    padding: 10px;
    color: #fac710;
    border: 2px solid #000;
    transition: all 0.3s ease-in;


}

.nav__links a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.nav__btn {
    margin-right: 10px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    font-family: Lato;
}

.btn {
    background-color: #fac710;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn:before,
.btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.btn:before {
    height: 0%;
    width: 2px;
}

.btn:after {
    width: 0%;
    height: 2px;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background: transparent;
}

.btn:hover:before {
    height: 100%;
}

.btn:hover:after {
    width: 100%;
}

.btn span:before,
.btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.btn span:before {
    width: 2px;
    height: 0%;
}

.btn span:after {
    height: 2px;
    width: 0%;
}

.btn span:hover:before {
    height: 100%;
}

.btn span:hover:after {
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh - 70px);
    width: auto;
    margin: 0px 10px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin: auto;
}

.hero__img {
    height: calc(90vh - 70px);
    width: calc(100vw - 40%);
    background-image: url("../assets/img.png");
    object-fit: contain;
    background-repeat: no-repeat;
}

.hero__content h1 {
    text-transform: uppercase;
}

.txt {
    color: rgb(215, 140, 153);
}

.txt2 {
    color: #fac710;
}

.hero__button {
    margin: 4rem 0rem 0rem 0rem;
    justify-content: center;
    height: 50%;
    width: auto;
    font-family: Lato;
}

.hero__btn {
    border-radius: 999px;
    padding: 1em 2em;
    background-color: #fac710;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
}

.hero__btn:hover,
.hero__btn:focus {
    background: #fac710;
    box-shadow: 0 0.1rem 0.8rem #fe6446;
}

.info {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
}

.info__txt {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.info span {
    height: 20px;
    width: 180px;
    background-color: #fff;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

}

.card {
    /* margin: 5px; */
    height: 400px;
    width: 300px;
    border-radius: 15px;
    background: #fff;
    position: relative;
    padding: 1.8rem;
    border: 3px solid #0d8fa0;
    overflow: visible;
}

.card__details {
    color: #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card__button {
    transform: translate(-50%, 125%);
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: none;
    color: #000;
    background-color: #fac710;
    font-size: 1rem;
    font-family: Lato;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    transition: 0.3s ease-in-out;
    left: 50%;
    bottom: 0;
    opacity: 0;
    cursor: pointer;

}

.card__title h3 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.card__text {
    margin-top: 2rem;
    color: #000000
}

.card__text p i {
    font-size: 14px;
    color: rgb(20, 232, 115);
}


.card:hover {
    border-color: #103551;
    box-shadow: 0 4px 12px 0 #00000040;
    background-color: #6cd6d6;
    transform: scale(1.1);
    z-index: 2;
    transition: all 0.5s ease-out;

}


.card:hover .card__button {
    transform: translate(-50%, 50%);
    transition: all 0.5s ease-in-out;
    opacity: 1;
    color: #103551;
    border: 3px solid #0d8fa0;
    font-size: 13px;
    cursor: pointer;
}

/* =========CONTACT US AND FOOTER STYLES */
.contact__wrapper {
    display: flex;
    width: 100%;
    height: 800px;
    background-color: #fff;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: auto
}

.social__section {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
}

.social__icons {
    display: flex;
    height: inherit;
    width: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.social__icons i {
    display: flex;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 186, 186);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
}
.social__icons i:hover{
    transform: scale(1.5);
    transition: all .3s ease-out;
    background-color: #fac710;
    color: #0d8fa0;
    border-radius: 5px;
    cursor: pointer;

}


.contact__header h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.enq__btn {
    height: 60px;
    width: 150px;
    margin-top: 2%;
    background: transparent;
    border: 2px solid #0d8fa0;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Lato;

}
.enq__btn:hover{
    background-color: #0d8fa0;
    transition: .3s ease-in-out ;
    transform: scale(1.1);


}

.contact__details {
    height: 300px;
    width: auto;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;

}


.contact__info
 {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.contact__details h2 {
    text-transform: uppercase;
    font-size: 14px;

}
.contact__info i{
    margin: 8px;
}
.contact__info i a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Lato;
}
.quick__links{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.quick__links i{
    padding: 6px;
    display: flex;
    align-items: center;}
.quick__links i p{
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 5px;
}

.divider {
    height: 2px;
    background-color: #000;
    border: none;
}

.footer {
    height: 90px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(130, 130, 130);
    color: #fff;
    margin: auto;
}

.footer__content {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.footer__links li {
    list-style: none;
    margin: 10px;
}

.footer__icons {
    width: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.footer__info {
    display: flex;
    margin-left: 10px;
    justify-content: center;

}

.footer__icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 35px;
    width: 35px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    color: #000;
    border-radius: 50%;
}

.footer__links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 10px;
}